@model Exam_SK.Models.Message
@{
    ViewData["Title"] = "AddMessage";
}

<h2>AddMessage</h2>

<form asp-action="AddMessage">
      Message: <input asp-for="MessageText"/>
    <input type="submit" value="add"/>
</form>