@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table>
    <tr>
        <td>MESSAGES</td>
    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                @m
            </td>
        </tr>
    }

</table>
