@model Exam_SK.Models.Car
@{
    ViewData["Title"] = "AddCar";
}

<h2>Add new Car</h2>
<form asp-action="AddCar">
    Manufacturer:
    <input asp-for="Manufacturer" />
    <br />

    Model:
    <input asp-for="Model" />
    <br />

    YearOfProduction:
    <input asp-for="YearOfProduction" />
    <br />

    FuelType:
    <input asp-for="FuelType" />
    <br />

    LicencePlate:
    <input asp-for="LicencePlate" />
    <br />

    DateRegistered:
    <input asp-for="DateRegistered" />
    <br />

    <input type="submit" value="register" />

</form>
